<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../assest/libraries/bootstrap.min.css">
    <link rel="stylesheet" href="../assest/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>
<body>
    <div class="side-bar">
        <header>HRM App</header>
        <div class="user"><i class="fa-sharp fa-solid fa-circle-user" style="margin-right:15px"></i><p class="username"></p></div>
        <div class="logout"><i class="fa-sharp fa-solid fa-right-from-bracket"></i>Log out</div>
        <ul>
         <li><a href="">LIST EMPLOYEE</a></li>
         <li><a href="">ADD EMPLOYEE</a></li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="main">
            <nav>
                <ul>
                    <li><a href="#"><i class="fa-sharp fa-solid fa-bars"></i></a></li>
                    <li><a href="">HOME</a></li>
                </ul>
            </nav>
                <div class="dash-board">
                    <div class="row">
                        <div >
                            <div class="card card-blue">
                                <div class="card-title">
                                      List of employees
                                </div>
                                <i class="fa-solid fa-user"></i>
                            </div>
                        </div>
                        <div >
                            <div class="card card-green">
                                <div class="card-title">
                                    Departments manager
                                </div>
                                <i class="fa-solid fa-user"></i>
                            </div>
                        </div>
                        <div>
                            <div class="card card-yellow">
                                <div class="card-title">
                                    Possitions manager
                                </div>
                                <i class="fa-solid fa-user"></i>
                            </div>
                        </div>
                        <div>
                            <div class="card card-red">
                                <div class="card-title">
                                    Possitions manager
                                </div>
                                <i class="fa-solid fa-user"></i>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div  class="mask" ></div>
    <script>
        if(!localStorage.getItem("key")){
           location.href="http://localhost:5500/view/login.html";
        }
    </script>
    <script src="../assest/libraries/jquery.min.js"></script>
    <script src="../assest/js/home.js"></script>
    <script src="../assest/libraries/bootstrap.min.js"></script>
</body>
</html>

